[Unit]
Description=Bitwarden
After=graphical-session.target

[Service]
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/flatpak run com.bitwarden.desktop
Restart=on-failure

[Install]
WantedBy=default.target
