[Unit]
Description=Reload Kanata on input device change
ConditionPathExists=/run/user/%U

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart kanata.service
