[Unit]
Description=Kanata keyboard remapper (standard keyboards)
Documentation=https://github.com/jtroo/kanata

[Service]
Type=simple
ExecStart=%h/.local/bin/kanata --cfg %h/.config/kanata/config-std.kbd
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
