[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
StartLimitIntervalSec=30
StartLimitBurst=10

[Service]
Type=simple
ExecStartPre=/usr/bin/touch /run/user/%U/kanata.started
ExecStart=%h/.local/bin/kanata --cfg %h/.config/kanata/config.kbd
ExecStartPost=/usr/bin/rm -f /run/user/%U/kanata.started
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
