[submodule ".config/tmux/plugins/catppuccin/tmux"]
	path = .config/tmux/plugins/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:ruben-hutter/scripts.git
