layout {
    background-color "transparent"

    focus-ring {
        active-color   "#97ccf9"
        inactive-color "#8c9198"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#97ccf9"
        inactive-color "#8c9198"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#97ccf9"
        inactive-color "#8c9198"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#97ccf980"
    }
}

/-recent-windows {
    highlight {
        active-color   "#024b71"
        urgent-color   "#ffb4ab"
    }
}